* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --body-bg-color: #fcfcfc;
    --header-bg-color: #89bb5c;
    --green-secondary: #556f3f;
    --font-primary-color: #fff;

    font-size: 62.5%;
    font-family: 'Calibri', sans-serif;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

body {
    min-height: 100vh;
    font-size: 1rem;

    display: grid;
    place-items: center;

    background: var(--body-bg-color);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    size: 21cm 29.7cm;
}

header.main {
    padding-block: 3.2rem;

    display: flex;
}

header .content {
    width: 100%;
    padding: .8rem 2.4rem;

    display: flex;
    align-items: center;

    border-radius: .6rem 0 0 .6rem;
    color: var(--font-primary-color);
    background: var(--header-bg-color);
}

.logo {
    padding: 0 5.6rem;
}

.logo img {
    max-width: 20rem;
    height: 10rem;
}

header.main h1 {
    display: flex;
    flex-direction: column;
    line-height: 113%;

    padding-right: 4.8rem;
    position: relative;
}

header.main h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: .2rem;
    height: 100%;
    background: var(--font-primary-color);
}

h1 span:nth-child(1) {
    font-size: 2.2rem;
    font-weight: 500;
}

h1 span:nth-child(2) {
    font-size: 3.2rem;
    position: relative;
    left: -1px;
}

h1 span:nth-child(3) {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.info {
    height: 6.78rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1.6rem;
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    padding-inline: 5.6rem;
    padding-bottom: 3.2rem;
    flex: 1;
}

main h2 {
    text-align: center;
    font-size: 2.4rem;
    color: var(--green-secondary);

    margin-bottom: 3.2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

main .text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 175%;

    position: relative;
}

main .text-wrapper::before {
    content: "";
    display: block; 
    position: absolute; 
    z-index: -1;
    bottom: 3px;
    width: 100%;
    border-bottom: 2.2px dotted rgb(21, 20, 20);
}

main .title,
main .topic,
main .number-page {
    background: var(--body-bg-color);
    padding-right: 3px;
    z-index: 10;
    text-transform: uppercase;
}

main .title {
    font-size: 1.4rem;
    font-weight: bold;
}

main .topic {
    padding-left: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
}

main .number-page {
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 4px;
}

footer {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.2rem 5.6rem;
    background: var(--header-bg-color);
}

footer div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

footer div img {
    width: 3.6rem;
    padding: .6rem;
    border-radius: 50%;
    background: var(--green-secondary);
}

footer div p {
    color: var(--font-primary-color);
    font-size: 1.4rem;
    width: 17rem;
    text-transform: uppercase;
    
    line-height: 100%;
}

footer a {
    color: var(--font-primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

footer .page {
    font-size: 1.4rem;
    font-weight: 600;
    padding: .8rem 1.2rem;

    border-radius: 999px;
    color: var(--font-primary-color);
    background: var(--green-secondary);
    opacity: .8;
}

@media print {
    #app {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}

